*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  outline: 1px solid;
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
}

.sketch {
  border: 1px solid;
}

.sketch:hover {
  background-color: aqua;
}

.hovered {
  background-color: aqua;
}
