*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.input {
  border-radius: 5px;
  width: 200px;
  height: 35px;
}

.button {
  width: 200px;
  height: 35px;
  border-radius: 7px;
}

.container {
  margin-top: 20px;
  outline: 1px solid;
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
}

.sketch {
  border: 1px solid;
}

.sketch:hover {
  background-color: rgb(230, 155, 44);
}

.hovered {
  background-color: rgb(230, 155, 44);
}
